Repository alberto-abarzua/peridash: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint_backend, lint_frontend, test_backend, test_frontend, frontend, backend, rollout_backend, rollout_frontend

.gitlab-ci.yml:

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
  ENV_NAME: dev

stages:
  - build
  - lint
  - test
  - build_and_push
  - rollout

build:
  stage: build
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker compose build
  rules:
    - changes:
        - backend/**/*
        - frontend/**/*
        - docker-compose.yml
  environment:
    name: $ENV_NAME


lint_backend:
  stage: lint
  script:
    - docker-compose run --rm backend pdm run lint
  rules:
    - changes:
        - backend/**/*
  environment:
    name: $ENV_NAME

lint_frontend:
  stage: lint
  script:
    - docker-compose run --rm frontend npm lint_no_fix
  rules:
    - changes:
        - frontend/**/*
  environment:
    name: $ENV_NAME

test_backend:
  stage: test
  script:
    - docker compose run --rm backend pdm run test
  environment:
    name: $ENV_NAME
  rules:
    - changes:
        - backend/**/*
        - docker-compose.yml
      when: on_success
  cache:
    paths:
      - ./docker
test_frontend:
  stage: test
  script:
    - docker compose run --rm frontend npm run test_no_watch
  environment:
    name: $ENV_NAME
  rules:
    - changes:
        - frontend/**/*
        - docker-compose.yml
      when: on_success


frontend:
  stage: build_and_push

  script:
    - docker login --username $DOCKER_HUB_USER --password $DOCKER_HUB_PASSWORD
    - docker build -t $DOCKER_HUB_USER/peridash-frontend:$ENV_NAME ./frontend
    - docker push $DOCKER_HUB_USER/peridash-frontend:$ENV_NAME
  environment:
    name: $ENV_NAME
  rules:
    - changes:
        - frontend/**/*
      when: on_success
      if: '$CI_COMMIT_REF_NAME == "main"'


backend:
  stage: build_and_push
  script:
    - docker login --username $DOCKER_HUB_USER --password $DOCKER_HUB_PASSWORD
    - docker build -t $DOCKER_HUB_USER/peridash-backend:$ENV_NAME ./backend
    - docker push $DOCKER_HUB_USER/peridash-backend:$ENV_NAME
  environment:
    name: $ENV_NAME
  rules:
    - changes:
        - backend/**/*
      when: on_success
      if: '$CI_COMMIT_REF_NAME == "main"'
rollout_backend:
  stage: rollout
  script:
    - echo $K8S_TOKEN | kubectl config set-credentials gitlab-ci --token=-
    - kubectl config set-context --current --namespace=your-namespace
    - kubectl rollout restart deployment backend -n $ENV_NAME-peridash
  environment:
    name: $ENV_NAME
  rules:
    - changes:
        - backend/**/*
      when: on_success
      if: '$CI_COMMIT_REF_NAME == "main"'

rollout_frontend:
  stage: rollout
  script:
    - echo $K8S_TOKEN | kubectl config set-credentials gitlab-ci --token=-
    - kubectl config set-context --current --namespace=your-namespace
    - kubectl rollout restart deployment backend -n $ENV_NAME-peridash
  environment:
    name: $ENV_NAME
  rules:
    - changes:
        - frontend/**/*
      when: on_success
      if: '$CI_COMMIT_REF_NAME == "main"'

feat: add gain,loss,buy to ticker model and lines to ticker plot
  backend/ticker/api_utils.py
  backend/ticker/apps.py
  backend/ticker/forms.py
  backend/ticker/migrations/0009_ticker_buy_ticker_gain_ticker_loss.py
  backend/ticker/models.py
  backend/ticker/serializers.py
  backend/ticker/signals.py
  backend/ticker/tests/test_ticker_api.py
  backend/ticker/tests/test_ticker_model.py
  backend/ticker/views.py
  frontend/src/components/auth/UserInfoCard.jsx
  frontend/src/components/dash_settings/SearchBar.jsx
  frontend/src/components/dash_settings/StockInfo.jsx
  frontend/src/components/dash_settings/UserTickers.jsx
  frontend/src/components/tickers/TickerContainerBig.jsx
  frontend/src/pages/_app.jsx
  frontend/src/pages/index.jsx
  frontend/src/pages/settings.jsx
Due: build, lint_backend, lint_frontend, test_backend, test_frontend, frontend, backend, rollout_backend, rollout_frontend

fix: change maxsize in tickercontainerbig component
  backend/ticker/views.py
  frontend/src/components/dash_settings/SearchBar.jsx
  frontend/src/components/tickers/TickerContainerBig.jsx
Due: build, lint_backend, lint_frontend, test_backend, test_frontend, frontend, backend, rollout_backend, rollout_frontend

fix: linting and testing issues
  backend/ticker/tests/test_ticker_api.py
  frontend/src/components/dash_settings/SearchBar.jsx
Due: build, lint_backend, lint_frontend, test_backend, test_frontend, frontend, backend, rollout_backend, rollout_frontend

fix: settings api queries infinite loop
  .env.template
  frontend/src/components/dash_settings/SearchBar.jsx
  frontend/src/components/dash_settings/StockInfo.jsx
  frontend/src/components/dash_settings/UserTickers.jsx
  frontend/src/pages/settings.jsx
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

feat: add tickers to dashboard and display them
  backend/ticker/api_utils.py
  frontend/README.md
  frontend/src/components/tickers/TickerContainerSmall.jsx
  frontend/src/pages/index.jsx
Due: build, lint_backend, lint_frontend, test_backend, test_frontend, frontend, backend, rollout_backend, rollout_frontend

fix: linting issues
  backend/ticker/api_utils.py
Due: build, lint_backend, test_backend, backend, rollout_backend

fix(frontend): linting issues
  frontend/src/components/tickers/TickerContainerSmall.jsx
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

feat(backend): Add type hints and mypy checking
  backend/.flake8
  backend/Dockerfile
  backend/manage.py
  backend/mypy.ini
  backend/pdm.lock
  backend/peridash/gen_utils.py
  backend/peridash/settings.py
  backend/pyproject.toml
  backend/ticker/api_utils.py
  backend/ticker/apps.py
  backend/ticker/forms.py
  backend/ticker/migrations/0002_initial.py
  backend/ticker/migrations/0008_alter_ticker_symbol.py
  backend/ticker/models.py
  backend/ticker/serializers.py
  backend/ticker/signals.py
  backend/ticker/tests/test_ticker_api.py
  backend/ticker/tests/test_ticker_model.py
  backend/ticker/views.py
  backend/user/migrations/0001_initial.py
  backend/user/models.py
  backend/user/serializers.py
  backend/user/tests/test_user_auth.py
  backend/user/views.py
Due: build, lint_backend, test_backend, backend, rollout_backend

fix(backend): wrong imports causing errors
  backend/user/tests/test_user_auth.py
  backend/user/views.py
Due: build, lint_backend, test_backend, backend, rollout_backend

fix(backend): linting issues
  backend/user/views.py
Due: build, lint_backend, test_backend, backend, rollout_backend

feat(frontend): update ticker data every 30 seconds (real time)
  frontend/src/pages/index.jsx
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

fix(frontend): lint formatting
  frontend/src/pages/index.jsx
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

chore: update raedme
  README.md
  imgs/arch.png
Due: none

feat(kubernetes): new deploy command and base ci
  .github/deploy-cd.yaml
  .github/general-ci.yaml
  kubernetes/base/backend.yaml
  kubernetes/base/ci-service-account.yaml
  kubernetes/base/db.yaml
  kubernetes/base/frontend.yaml
  kubernetes/base/kustomization.yaml
  kubernetes/base/memcached.yaml
  kubernetes/deploy_commands/deploy.py
  kubernetes/deploy_commands/get_token.sh
  kubernetes/dev/.env.template
  kubernetes/dev/kustomization.yaml
  kubernetes/kustomizations/prod/.env.template
  kubernetes/kustomizations/prod/kustomization.yaml
Due: none

chore(workflows): First implementation
  .github/deploy-cd.yaml
  .github/general-ci.yaml
  kubernetes/base/ci-service-account.yaml
  kubernetes/deploy_commands/deploy.py
  kubernetes/kustomizations/prod/.env.template
  kubernetes/kustomizations/prod/kustomization.yaml
  tmp_config.yaml
Due: none

fix(workflows): move workflows to workflows folder
  .github/workflows/deploy-cd.yaml
  .github/workflows/general-ci.yaml
Due: none

fix(workflows): syntax error
  .github/workflows/deploy-cd.yaml
  .github/workflows/general-ci.yaml
Due: none

fix(workflows): missing secret for docker build and push
  .github/workflows/deploy-cd.yaml
Due: none

fix(workflows): wrong service on dcr when running test
  .github/workflows/general-ci.yaml
Due: none

fix(workflows): deploy ci
  .github/workflows/deploy-cd.yaml
Due: none

fix(workflows): update on condition
  .github/workflows/deploy-cd.yaml
Due: none

fix(workflows): typo when creating kubeconfing temp file
  .github/workflows/deploy-ci.yaml
  tmp_config.yaml
Due: none

chore(workflows): add custom docker image for deployment python scripts
  kubernetes/deploy_commands/Dockerfile
Due: none

chore(workflows): fix env variable in deploy ci
  .github/workflows/deploy-ci.yaml
Due: none

chore(workflows): update naming of environment
  .github/workflows/deploy-ci.yaml
  .github/workflows/general-ci.yaml
Due: none

fix(deploy-ci): add more debugin prints for kubeconfig setup
  .github/workflows/deploy-ci.yaml
  kubernetes/deploy_commands/Dockerfile
Due: none

test
  .github/workflows/deploy-ci.yaml
Due: none

test
  kubernetes/base/ci-service-account.yaml
  kubernetes/deploy_commands/deploy.py
Due: none

test
  kubernetes/base/ci-service-account.yaml
Due: none

test
  .github/workflows/deploy-ci.yaml
  .github/workflows/general-ci.yaml
Due: none

test
  .github/workflows/general-ci.yaml
Due: none

fix(deploy-ci): add more debugin prints for kubeconfig setup (#13)
  .github/workflows/deploy-ci.yaml
  .github/workflows/general-ci.yaml
  kubernetes/base/ci-service-account.yaml
  kubernetes/deploy_commands/Dockerfile
  kubernetes/deploy_commands/deploy.py
Due: none

first commit
  frontend/src/components/dash_settings/StockInfo.jsx
  frontend/src/pages/settings.jsx
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

fix: linting frontend
  frontend/src/components/dash_settings/StockInfo.jsx
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend
