Repository alberto-abarzua/peridash: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint_backend, lint_frontend, test_backend, test_frontend, frontend, backend, rollout_backend, rollout_frontend

build:
  stage: build
  script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker compose build
  environment:
    name: $ENV_NAME

lint_backend:
  stage: lint
  script:
  - docker-compose run --rm backend pdm run lint
  environment:
    name: $ENV_NAME

lint_frontend:
  stage: lint
  script:
  - docker-compose run --rm frontend npm lint_no_fix
  environment:
    name: $ENV_NAME

test_backend:
  stage: test
  script:
  - docker compose run --rm backend pdm run test
  environment:
    name: $ENV_NAME
  cache:
    paths:
    - ./docker

test_frontend:
  stage: test
  script:
  - docker compose run --rm frontend npm run test_no_watch
  environment:
    name: $ENV_NAME

frontend:
  stage: build_and_push
  script:
  - docker login --username $DOCKER_HUB_USER --password $DOCKER_HUB_PASSWORD
  - docker build -t $DOCKER_HUB_USER/peridash-frontend:$ENV_NAME ./frontend
  - docker push $DOCKER_HUB_USER/peridash-frontend:$ENV_NAME
  environment:
    name: $ENV_NAME

backend:
  stage: build_and_push
  script:
  - docker login --username $DOCKER_HUB_USER --password $DOCKER_HUB_PASSWORD
  - docker build -t $DOCKER_HUB_USER/peridash-backend:$ENV_NAME ./backend
  - docker push $DOCKER_HUB_USER/peridash-backend:$ENV_NAME
  environment:
    name: $ENV_NAME

rollout_backend:
  stage: rollout
  script:
  - echo $K8S_TOKEN | kubectl config set-credentials gitlab-ci --token=-
  - kubectl config set-context --current --namespace=your-namespace
  - kubectl rollout restart deployment backend -n $ENV_NAME-peridash
  environment:
    name: $ENV_NAME

rollout_frontend:
  stage: rollout
  script:
  - echo $K8S_TOKEN | kubectl config set-credentials gitlab-ci --token=-
  - kubectl config set-context --current --namespace=your-namespace
  - kubectl rollout restart deployment backend -n $ENV_NAME-peridash
  environment:
    name: $ENV_NAME

feat(frontend): add tailwind
  backend/Dockerfile
  backend/pdm.lock
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/components/dash_settings/SearchBar.jsx
  frontend/src/components/tickers/TickerCoreInfo.jsx
  frontend/src/pages/_app.jsx
  frontend/src/pages/settings.jsx
  frontend/src/styles/globals.css
  frontend/tailwind.config.js
Due: build, lint_backend, lint_frontend, test_backend, test_frontend, frontend, backend, rollout_backend, rollout_frontend

checkpiont
  frontend/src/components/layout/Navbar.jsx
  frontend/src/pages/settings.jsx
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

feat: navbar component using tailwind
  frontend/postcss.config.js
  frontend/src/components/layout/Link.jsx
  frontend/src/components/layout/NavLink.jsx
  frontend/src/components/layout/Navbar.jsx
  frontend/src/components/layout/SideNav.jsx
  frontend/src/pages/_app.jsx
  frontend/src/pages/settings.jsx
  frontend/src/pages/tests.jsx
  frontend/src/styles/globals.css
  frontend/tailwind.config.js
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

feat: remove mui and add user feedback
  backend/ticker/views.py
  frontend/.prettierrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/auth/LoginForm.jsx
  frontend/src/components/auth/LogoutButton.jsx
  frontend/src/components/auth/LogutButton.test.jsx
  frontend/src/components/auth/UserInfoCard.jsx
  frontend/src/components/dash_settings/SearchBar.jsx
  frontend/src/components/dash_settings/StockInfo.jsx
  frontend/src/components/dash_settings/SymbolSearchResult.jsx
  frontend/src/components/dash_settings/TickerSearchResult.jsx
  frontend/src/components/dash_settings/UserTicker.jsx
  frontend/src/components/dash_settings/UserTickers.jsx
  frontend/src/components/general/buttons/BaseButton.jsx
  frontend/src/components/general/buttons/PrimaryButton.jsx
  frontend/src/components/general/buttons/WarningButton.jsx
  frontend/src/components/general/inputs/IconTextInput.jsx
  frontend/src/components/general/notification/Notification.jsx
  frontend/src/components/general/notification/useNotification.jsx
  frontend/src/components/layout/NavLink.jsx
  frontend/src/components/layout/Navbar.jsx
  frontend/src/components/layout/SideNav.jsx
  frontend/src/components/tickers/TickerContainerBig.jsx
  frontend/src/components/tickers/TickerContainerSmall.jsx
  frontend/src/components/tickers/TickerCoreInfo.jsx
  frontend/src/components/tickers/TickerStatsInfo.jsx
  frontend/src/pages/_app.jsx
  frontend/src/pages/index.jsx
  frontend/src/pages/settings.jsx
  frontend/src/pages/tests.jsx
  frontend/src/utils/auth.js
Due: build, lint_backend, lint_frontend, test_backend, test_frontend, frontend, backend, rollout_backend, rollout_frontend

chore: remove tests page
  frontend/src/pages/tests.jsx
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

fix: linting issues frontend
  frontend/.prettierrc.json
  frontend/src/components/auth/LoginForm.jsx
  frontend/src/components/auth/LogoutButton.jsx
  frontend/src/components/auth/UserInfoCard.jsx
  frontend/src/components/dash_settings/SearchBar.jsx
  frontend/src/components/dash_settings/SymbolSearchResult.jsx
  frontend/src/components/dash_settings/UserTicker.jsx
  frontend/src/components/dash_settings/UserTickers.jsx
  frontend/src/components/general/buttons/WarningButton.jsx
  frontend/src/components/general/inputs/IconTextInput.jsx
  frontend/src/components/general/notification/Notification.jsx
  frontend/src/components/general/notification/useNotification.jsx
  frontend/src/components/layout/NavLink.jsx
  frontend/src/components/layout/SideNav.jsx
  frontend/src/components/tickers/TickerContainerBig.jsx
  frontend/src/components/tickers/TickerContainerSmall.jsx
  frontend/src/components/tickers/TickerCoreInfo.jsx
  frontend/src/components/tickers/TickerStatsInfo.jsx
  frontend/src/pages/_document.jsx
  frontend/src/pages/index.jsx
  frontend/src/pages/settings.jsx
  frontend/src/utils/auth.js
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

Add notifications/other to give user feedback (#14)
  backend/Dockerfile
  backend/pdm.lock
  backend/ticker/views.py
  docker-compose.yml
  frontend/.prettierrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/components/auth/LoginForm.jsx
  frontend/src/components/auth/LogoutButton.jsx
  frontend/src/components/auth/LogutButton.test.jsx
  frontend/src/components/auth/UserInfoCard.jsx
  frontend/src/components/dash_settings/SearchBar.jsx
  frontend/src/components/dash_settings/StockInfo.jsx
  frontend/src/components/dash_settings/SymbolSearchResult.jsx
  frontend/src/components/dash_settings/TickerSearchResult.jsx
  frontend/src/components/dash_settings/UserTicker.jsx
  frontend/src/components/dash_settings/UserTickers.jsx
  frontend/src/components/general/buttons/BaseButton.jsx
  frontend/src/components/general/buttons/PrimaryButton.jsx
  frontend/src/components/general/buttons/WarningButton.jsx
  frontend/src/components/general/inputs/IconTextInput.jsx
  frontend/src/components/general/notification/Notification.jsx
  frontend/src/components/general/notification/useNotification.jsx
  frontend/src/components/layout/Link.jsx
  frontend/src/components/layout/NavLink.jsx
  frontend/src/components/layout/Navbar.jsx
  frontend/src/components/layout/SideNav.jsx
  frontend/src/components/tickers/TickerContainerBig.jsx
  frontend/src/components/tickers/TickerContainerSmall.jsx
  frontend/src/components/tickers/TickerCoreInfo.jsx
  frontend/src/components/tickers/TickerStatsInfo.jsx
  frontend/src/pages/_app.jsx
  frontend/src/pages/_document.jsx
  frontend/src/pages/index.jsx
  frontend/src/pages/settings.jsx
  frontend/src/styles/globals.css
  frontend/src/utils/auth.js
  frontend/tailwind.config.js
Due: build, lint_backend, lint_frontend, test_backend, test_frontend, frontend, backend, rollout_backend, rollout_frontend

update variable name
  backend/peridash/settings.py
  kubernetes/kustomizations/prod/.env.template
Due: build, lint_backend, test_backend, backend, rollout_backend

update variable name (#16)
  backend/peridash/settings.py
  kubernetes/kustomizations/prod/.env.template
Due: build, lint_backend, test_backend, backend, rollout_backend

fix: fix infinite loop and time rendering issues
  .env.template
  docker-compose.yml
  frontend/src/components/general/notification/useNotification.jsx
  frontend/src/components/tickers/TickerContainerBig.jsx
  frontend/src/components/tickers/TickerStatsInfo.jsx
  frontend/src/pages/index.jsx
  frontend/src/utils/auth.js
Due: build, lint_frontend, test_backend, test_frontend, frontend, rollout_frontend

fix: fix infinite loop and time rendering issues (#17)
  .env.template
  docker-compose.yml
  frontend/src/components/general/notification/useNotification.jsx
  frontend/src/components/tickers/TickerContainerBig.jsx
  frontend/src/components/tickers/TickerStatsInfo.jsx
  frontend/src/pages/index.jsx
  frontend/src/utils/auth.js
Due: build, lint_frontend, test_backend, test_frontend, frontend, rollout_frontend

feat: color rework, update layout of dash on mobile and minor tweaks
  README.md
  backend/ticker/views.py
  frontend/jsconfig.json
  frontend/public/about.txt
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/next.svg
  frontend/public/site.webmanifest
  frontend/public/vercel.svg
  frontend/src/components/auth/LoginForm.jsx
  frontend/src/components/auth/UserInfoCard.jsx
  frontend/src/components/dash_settings/SearchBar.jsx
  frontend/src/components/dash_settings/UserTicker.jsx
  frontend/src/components/general/notification/useNotification.jsx
  frontend/src/components/layout/SideNav.jsx
  frontend/src/components/tickers/TickerContainerBig.jsx
  frontend/src/components/tickers/TickerContainerSmall.jsx
  frontend/src/components/tickers/TickerCoreInfo.jsx
  frontend/src/components/tickers/TickerStatsInfo.jsx
  frontend/src/pages/_app.jsx
  frontend/src/styles/globals.css
  frontend/src/utils/colors.js
  frontend/tailwind.config.js
Due: build, lint_backend, lint_frontend, test_backend, test_frontend, frontend, backend, rollout_backend, rollout_frontend

fix: backend tests and frontend linting
  backend/Dockerfile
  backend/pdm.lock
  backend/ticker/tests/test_ticker_api.py
  frontend/src/components/dash_settings/UserTicker.jsx
  frontend/src/components/general/notification/useNotification.jsx
  frontend/src/components/tickers/TickerContainerBig.jsx
  frontend/src/components/tickers/TickerCoreInfo.jsx
Due: build, lint_backend, lint_frontend, test_backend, test_frontend, frontend, backend, rollout_backend, rollout_frontend

chore: update actions version in workflows
  .github/workflows/deploy-ci.yaml
  .github/workflows/general-ci.yaml
Due: none

Update README.md
  README.md
Due: none

feat: minor ui improvements
  frontend/src/components/tickers/TickerCoreInfo.jsx
  frontend/src/components/tickers/TickerStatsInfo.jsx
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

fix: linting
  frontend/src/components/tickers/TickerStatsInfo.jsx
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

chore: update deploy script and pv/pvc settings
  .github/workflows/deploy-ci.yaml
  .gitignore
  kubernetes/base/db.yaml
  kubernetes/deploy_commands/build_upload.sh
  kubernetes/deploy_commands/deploy.py
  kubernetes/deploy_commands/get_token.sh
  kubernetes/deploy_commands/preview_kustomization.sh
  kubernetes/deploy_commands/rollout_services.sh
  kubernetes/kustomizations/prod/kustomization.yaml
Due: none

chore: remove db
  kubernetes/base/ci-service-account.yaml
  kubernetes/base/db.yaml
  kubernetes/base/kustomization.yaml
  kubernetes/deploy_commands/deploy.py
  kubernetes/kustomizations/prod/kustomization.yaml
Due: none

chore: update service account
  kubernetes/base/ci-service-account.yaml
  kubernetes/deploy_commands/deploy.py
  kubernetes/kustomizations/prod/kustomization.yaml
Due: none

chore: update dockerfiles and update versions
  .gitignore
  .gitlab-ci.yml
  backend/.dockerignore
  backend/Dockerfile
  backend/pdm.lock
  frontend/Dockerfile
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
Due: build, lint_backend, lint_frontend, test_backend, test_frontend, frontend, backend, rollout_backend, rollout_frontend

chore: update api_utils.py
  backend/ticker/api_utils.py
Due: build, lint_backend, test_backend, backend, rollout_backend

fix: print in backend
  backend/ticker/api_utils.py
Due: build, lint_backend, test_backend, backend, rollout_backend

feat: add drizzle schema
  db/.dockerignore
  db/.prettierrc.json
  db/Dockerfile
  db/drizzle.config.ts
  db/package-lock.json
  db/package.json
  db/src/schema.ts
  db/tsconfig.json
  docker-compose.yml
  frontend/src/components/auth/Login.jsx
  frontend/src/main.jsx
  frontend/src/routes/root.jsx
  frontend/src/utils/supabase/supabaseClient.js
  package-lock.json
  supabase/.gitignore
  supabase/config.toml
  supabase/migrations/0000_luxuriant_maestro.sql
  supabase/migrations/meta/0000_snapshot.json
  supabase/migrations/meta/_journal.json
  supabase/seed.sql
Due: build, lint_frontend, test_backend, test_frontend, frontend, rollout_frontend

chore: remove outdated github ci
  .github/workflows/deploy-ci.yaml
  .github/workflows/general-ci.yaml
Due: none

feat: supabase backend
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/dash_settings/SearchBar.jsx
  frontend/src/components/dash_settings/SymbolSearchResult.jsx
  frontend/src/components/dash_settings/UserTicker.jsx
  frontend/src/components/dash_settings/UserTickers.jsx
  frontend/src/components/general/buttons/BaseButton.jsx
  frontend/src/components/general/buttons/PrimaryButton.jsx
  frontend/src/components/general/buttons/WarningButton.jsx
  frontend/src/components/general/inputs/IconTextInput.jsx
  frontend/src/components/layout/Link.jsx
  frontend/src/components/layout/NavLink.jsx
  frontend/src/components/layout/SideNav.jsx
  frontend/src/components/tickers/TickerContainerBig.jsx
  frontend/src/components/tickers/TickerContainerSmall.jsx
  frontend/src/components/tickers/TickerCoreInfo.jsx
  frontend/src/components/tickers/TickerStatsInfo.jsx
  frontend/src/components/ui/toast.jsx
  frontend/src/components/ui/toaster.jsx
  frontend/src/components/ui/use-toast.js
  frontend/src/main.jsx
  frontend/src/routes/Dashboard.jsx
  frontend/src/routes/root.jsx
  frontend/src/utils/api.js
  frontend/src/utils/colors.js
  frontend/src/utils/supabase/context.js
  frontend/tailwind.config.js
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

feat: start front migration
  frontend/package-lock.json
  frontend/src/components/auth/Login.jsx
  frontend/src/components/auth/UserInfoCard.jsx
  frontend/src/components/dash_settings/SearchBar.jsx
  frontend/src/components/dash_settings/SymbolSearchResult.jsx
  frontend/src/components/dash_settings/UserTicker.jsx
  frontend/src/main.jsx
  frontend/src/routes/Settings.jsx
  frontend/src/routes/root.jsx
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

feat: base migration done
  supabase/functions/_shared/db.ts
  supabase/functions/_shared/schema.ts
  supabase/functions/update_prices/index.ts
  supabase/functions/user_ticker/index.ts
Due: none

Path conditions:
  build: any of: backend/**/*, frontend/**/*, docker-compose.yml
  lint_backend: any of: backend/**/*
  lint_frontend: any of: frontend/**/*
  test_backend: any of: backend/**/*, docker-compose.yml
  test_frontend: any of: frontend/**/*, docker-compose.yml
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
  rollout_backend: any of: backend/**/*
  rollout_frontend: any of: frontend/**/*
