Repository alberto-abarzua/peridash: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint_backend, lint_frontend, test_backend, test_frontend, frontend, backend, rollout_backend, rollout_frontend

.gitlab-ci.yml:

image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
  ENV_NAME: dev

stages:
  - build
  - lint
  - test
  - build_and_push
  - rollout

build:
  stage: build
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker compose build
  rules:
    - changes:
        - backend/**/*
        - frontend/**/*
        - docker-compose.yml
  environment:
    name: $ENV_NAME


lint_backend:
  stage: lint
  script:
    - docker-compose run --rm backend pdm run lint
  rules:
    - changes:
        - backend/**/*
  environment:
    name: $ENV_NAME

lint_frontend:
  stage: lint
  script:
    - docker-compose run --rm frontend npm lint_no_fix
  rules:
    - changes:
        - frontend/**/*
  environment:
    name: $ENV_NAME

test_backend:
  stage: test
  script:
    - docker compose run --rm backend pdm run test
  environment:
    name: $ENV_NAME
  rules:
    - changes:
        - backend/**/*
        - docker-compose.yml
      when: on_success
  cache:
    paths:
      - ./docker
test_frontend:
  stage: test
  script:
    - docker compose run --rm frontend npm run test_no_watch
  environment:
    name: $ENV_NAME
  rules:
    - changes:
        - frontend/**/*
        - docker-compose.yml
      when: on_success


frontend:
  stage: build_and_push

  script:
    - docker login --username $DOCKER_HUB_USER --password $DOCKER_HUB_PASSWORD
    - docker build -t $DOCKER_HUB_USER/peridash-frontend:$ENV_NAME ./frontend
    - docker push $DOCKER_HUB_USER/peridash-frontend:$ENV_NAME
  environment:
    name: $ENV_NAME
  rules:
    - changes:
        - frontend/**/*
      when: on_success
      if: '$CI_COMMIT_REF_NAME == "main"'


backend:
  stage: build_and_push
  script:
    - docker login --username $DOCKER_HUB_USER --password $DOCKER_HUB_PASSWORD
    - docker build -t $DOCKER_HUB_USER/peridash-backend:$ENV_NAME ./backend
    - docker push $DOCKER_HUB_USER/peridash-backend:$ENV_NAME
  environment:
    name: $ENV_NAME
  rules:
    - changes:
        - backend/**/*
      when: on_success
      if: '$CI_COMMIT_REF_NAME == "main"'
rollout_backend:
  stage: rollout
  script:
    - echo $K8S_TOKEN | kubectl config set-credentials gitlab-ci --token=-
    - kubectl config set-context --current --namespace=your-namespace
    - kubectl rollout restart deployment backend -n $ENV_NAME-peridash
  environment:
    name: $ENV_NAME
  rules:
    - changes:
        - backend/**/*
      when: on_success
      if: '$CI_COMMIT_REF_NAME == "main"'

rollout_frontend:
  stage: rollout
  script:
    - echo $K8S_TOKEN | kubectl config set-credentials gitlab-ci --token=-
    - kubectl config set-context --current --namespace=your-namespace
    - kubectl rollout restart deployment backend -n $ENV_NAME-peridash
  environment:
    name: $ENV_NAME
  rules:
    - changes:
        - frontend/**/*
      when: on_success
      if: '$CI_COMMIT_REF_NAME == "main"'

feat: base migration done
  supabase/functions/_shared/db.ts
  supabase/functions/_shared/schema.ts
  supabase/functions/update_prices/index.ts
  supabase/functions/user_ticker/index.ts
Due: none

chore: remove outdated github ci
  .github/workflows/deploy-ci.yaml
  .github/workflows/general-ci.yaml
Due: none

feat: supabase backend
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/dash_settings/SearchBar.jsx
  frontend/src/components/dash_settings/SymbolSearchResult.jsx
  frontend/src/components/dash_settings/UserTicker.jsx
  frontend/src/components/dash_settings/UserTickers.jsx
  frontend/src/components/general/buttons/BaseButton.jsx
  frontend/src/components/general/buttons/PrimaryButton.jsx
  frontend/src/components/general/buttons/WarningButton.jsx
  frontend/src/components/general/inputs/IconTextInput.jsx
  frontend/src/components/layout/Link.jsx
  frontend/src/components/layout/NavLink.jsx
  frontend/src/components/layout/SideNav.jsx
  frontend/src/components/tickers/TickerContainerBig.jsx
  frontend/src/components/tickers/TickerContainerSmall.jsx
  frontend/src/components/tickers/TickerCoreInfo.jsx
  frontend/src/components/tickers/TickerStatsInfo.jsx
  frontend/src/components/ui/toast.jsx
  frontend/src/components/ui/toaster.jsx
  frontend/src/components/ui/use-toast.js
  frontend/src/main.jsx
  frontend/src/routes/Dashboard.jsx
  frontend/src/routes/root.jsx
  frontend/src/utils/api.js
  frontend/src/utils/colors.js
  frontend/src/utils/supabase/context.js
  frontend/tailwind.config.js
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

feat: start front migration
  frontend/package-lock.json
  frontend/src/components/auth/Login.jsx
  frontend/src/components/auth/UserInfoCard.jsx
  frontend/src/components/dash_settings/SearchBar.jsx
  frontend/src/components/dash_settings/SymbolSearchResult.jsx
  frontend/src/components/dash_settings/UserTicker.jsx
  frontend/src/main.jsx
  frontend/src/routes/Settings.jsx
  frontend/src/routes/root.jsx
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

feat: add drizzle schema
  db/.dockerignore
  db/.prettierrc.json
  db/Dockerfile
  db/drizzle.config.ts
  db/package-lock.json
  db/package.json
  db/src/schema.ts
  db/tsconfig.json
  docker-compose.yml
  frontend/src/components/auth/Login.jsx
  frontend/src/main.jsx
  frontend/src/routes/root.jsx
  frontend/src/utils/supabase/supabaseClient.js
  package-lock.json
  supabase/.gitignore
  supabase/config.toml
  supabase/migrations/0000_luxuriant_maestro.sql
  supabase/migrations/meta/0000_snapshot.json
  supabase/migrations/meta/_journal.json
  supabase/seed.sql
Due: build, lint_frontend, test_backend, test_frontend, frontend, rollout_frontend

chore: init front refactor
  ;
  db/src/schema.ts
  frontend/src/components/dash_settings/SearchBar.jsx
  frontend/src/components/dash_settings/UserTicker.jsx
  frontend/src/components/dash_settings/UserTickers.jsx
  frontend/src/components/tickers/TickerCoreInfo.jsx
  package-lock.json
  supabase/migrations/0003_chunky_ulik.sql
  supabase/migrations/meta/0000_snapshot.json
  supabase/migrations/meta/0001_snapshot.json
  supabase/migrations/meta/0003_snapshot.json
  supabase/migrations/meta/_journal.json
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

chore: add vercel .json
  frontend/vercel.json
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

feat: migrate edge functions routing to express js
  frontend/src/components/dash_settings/UserTicker.jsx
  frontend/src/routes/root.jsx
  supabase/functions/_shared/api_utils.ts
  supabase/functions/_shared/db.ts
  supabase/functions/_shared/express_utils.ts
  supabase/functions/deno.lock
  supabase/functions/update_prices/index.ts
  supabase/functions/user_ticker/index.ts
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

chore: fix api calls with errors'
  frontend/src/components/dash_settings/SearchBar.jsx
  frontend/src/components/dash_settings/UserTicker.jsx
  supabase/functions/_shared/express_utils.ts
  supabase/functions/update_prices/index.ts
  supabase/functions/user_ticker/index.ts
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

chore: remove update from saga
  supabase/functions/update_prices/index.ts
  supabase/functions/user_ticker/index.ts
Due: none

chore: remove update from saga
  ;
Due: none

chore: format
  frontend/.eslintrc.json
  frontend/components.json
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/components/auth/UserInfoCard.jsx
  frontend/src/components/dash_settings/SymbolSearchResult.jsx
  frontend/src/components/dash_settings/UserTickers.jsx
  frontend/src/components/layout/SideNav.jsx
  frontend/src/components/tickers/TickerContainerBig.jsx
  frontend/src/components/tickers/TickerContainerSmall.jsx
  frontend/src/components/tickers/TickerCoreInfo.jsx
  frontend/src/components/ui/button.jsx
  frontend/src/components/ui/toast.jsx
  frontend/src/components/ui/toaster.jsx
  frontend/src/components/ui/use-toast.js
  frontend/src/error-page.jsx
  frontend/src/main.jsx
  frontend/src/redux/sagas.js
  frontend/src/redux/store.js
  frontend/src/redux/tickerSlice.js
  frontend/src/routes/Dashboard.jsx
  frontend/src/routes/Settings.jsx
  frontend/src/routes/about.jsx
  frontend/src/routes/contact.jsx
  frontend/src/routes/root.jsx
  frontend/src/utils/api.js
  frontend/src/utils/colors.js
  frontend/src/utils/supabase/context.js
  frontend/src/utils/supabase/supabaseClient.js
  frontend/vite.config.js
  supabase/config.toml
  supabase/functions/_shared/db.ts
  supabase/functions/_shared/express_utils.ts
  supabase/functions/update_prices/index.ts
  supabase/functions/user_ticker/index.ts
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

chore: fix wrong logic with auth in front, clenup supabse edge functions
  .gitignore
  ;
  README.md
  db/Dockerfile
  db/entrypoint.sh
  db/src/schema.ts
  docker-compose.yml
  frontend/src/components/auth/Login.jsx
  frontend/src/components/auth/SupabaseAuth.jsx
  frontend/src/components/dash_settings/UserTicker.jsx
  frontend/src/components/layout/SideNav.jsx
  frontend/src/main.jsx
  frontend/src/routes/Dashboard.jsx
  frontend/src/routes/about.jsx
  frontend/src/routes/contact.jsx
  frontend/src/routes/root.jsx
  frontend/src/utils/supabase/auth.js
  supabase/config.toml
  supabase/functions/_shared/api_utils.ts
  supabase/functions/_shared/db.ts
  supabase/functions/_shared/express_utils.ts
  supabase/functions/_shared/schema/schema.ts
  supabase/functions/deno.json
  supabase/functions/deno.lock
  supabase/functions/import_map.json
  supabase/functions/update_prices/index.ts
  supabase/functions/user_ticker/index.ts
  supabase/migrations/0006_talented_dragon_lord.sql
  supabase/migrations/meta/0006_snapshot.json
  supabase/migrations/meta/_journal.json
Due: build, lint_frontend, test_backend, test_frontend, frontend, rollout_frontend

chore: fix auth logic
  frontend/index.html
  frontend/src/components/auth/Login.jsx
  frontend/src/components/auth/UserInfoCard.jsx
  frontend/src/components/dash_settings/SearchBar.jsx
  frontend/src/components/dash_settings/SymbolSearchResult.jsx
  frontend/src/components/dash_settings/UserTicker.jsx
  frontend/src/components/dash_settings/UserTickers.jsx
  frontend/src/components/layout/SideNav.jsx
  frontend/src/components/tickers/TickerStatsInfo.jsx
  frontend/src/error-page.jsx
  frontend/src/redux/sagas.js
  frontend/src/redux/tickerSlice.js
  frontend/src/routes/Dashboard.jsx
  frontend/src/routes/Settings.jsx
  frontend/src/routes/root.jsx
  frontend/src/utils/api.js
  frontend/src/utils/supabase/auth.js
  supabase/functions/_shared/schema/schema.ts
  supabase/functions/update_prices/index.ts
  supabase/functions/user_ticker/index.ts
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

feat: add supabase deploy action
  .github/workflows/deploy_supabase.yaml
Due: none

chore: add environment to deploy action
  .github/workflows/deploy_supabase.yaml
Due: none

chore: update auth state managemtn
  frontend/.prettierignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/auth/Login.jsx
  frontend/src/components/auth/LoginForm.jsx
  frontend/src/components/auth/SupabaseAuth.jsx
  frontend/src/components/auth/UserInfoCard.jsx
  frontend/src/components/dash_settings/UserTicker.jsx
  frontend/src/components/layout/SideNav.jsx
  frontend/src/components/tickers/TickerStatsInfo.jsx
  frontend/src/components/ui/button.jsx
  frontend/src/components/ui/form.jsx
  frontend/src/components/ui/input.jsx
  frontend/src/components/ui/label.jsx
  frontend/src/components/ui/sonner.jsx
  frontend/src/main.jsx
  frontend/src/redux/sagas.js
  frontend/src/redux/store.js
  frontend/src/redux/tickerSlice.js
  frontend/src/redux/userSlice.js
  frontend/src/routes/Dashboard.jsx
  frontend/src/routes/root.jsx
  frontend/src/utils/api.js
  frontend/src/utils/supabase/auth.js
  frontend/src/utils/supabase/client.js
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

chore: udpate deps
  frontend/package.json
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

chore: update package-lock.json
  frontend/package-lock.json
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

chore: add lib for shadcn
  .gitignore
  frontend/src/lib/utils.js
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

chore: udpate timing of update_prices
  supabase/functions/update_prices/index.ts
Due: none

chore: missing files
  frontend/src/components/layout/SideNav.jsx
  frontend/src/main.jsx
  frontend/src/routes/root.jsx
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

chore: update readme
  README.md
Due: none

chore: format sagas.js
  frontend/src/redux/sagas.js
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

feat: add carousel to dashboard
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/dash_settings/UserTicker.jsx
  frontend/src/components/ui/button.jsx
  frontend/src/components/ui/carousel.jsx
  frontend/src/routes/Dashboard.jsx
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

chore: add autoplay to carousel
  frontend/package-lock.json
  frontend/package.json
  frontend/src/routes/Dashboard.jsx
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

chore: update autoplay time
  frontend/src/routes/Dashboard.jsx
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

feat: add show_graph to tickres
  db/src/schema.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/dash_settings/UserTicker.jsx
  frontend/src/components/ui/checkbox.jsx
  frontend/src/routes/Dashboard.jsx
  supabase/functions/_shared/schema/schema.ts
  supabase/functions/user_ticker/index.ts
  supabase/migrations/0007_vengeful_kat_farrell.sql
  supabase/migrations/0008_safe_tyger_tiger.sql
  supabase/migrations/meta/0007_snapshot.json
  supabase/migrations/meta/0008_snapshot.json
  supabase/migrations/meta/_journal.json
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

chore: add highlight to favorite tickers
  frontend/src/routes/Dashboard.jsx
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

chore: update dashboard colspan
  frontend/src/routes/Dashboard.jsx
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend

chore: add autologin script for raspberry pi
  frontend/src/routes/Dashboard.jsx
  start.py
Due: build, lint_frontend, test_frontend, frontend, rollout_frontend
